@media (min-width: 700px)
{
    main{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
}

.titulo{
    text-align: center;
    margin-top: 10px;
    font-size: larger;
}

.recuadro1 {


    display: flex;
    flex-direction: column;
    text-align: center;

    border: 2px solid;

    
    width: 200px;
    height: 210px;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

.recuadro1:nth-child(7){
    color: red;
}

.recuadro2 {
    
    border-top: 2px solid;
    margin-top: 10px;
 
    width: 200px;
    height: 140px;
}
}

@media (max-width: 700px)
{
    main{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
}

.titulo{
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}

.recuadro1 {
    display: flex;
    flex-direction: column;
    text-align: center;

    border: 2px solid;

    
    width: 550px;
    height: 200px;

    margin-top: 20px;
}

.recuadro2 {
    border-top: 2px solid;
    margin-top: 10px;
 
    width: 550px;
    height: 140px;
}
}

