header{
    border: 2px solid green;
    color: green;
}

img {
    vertical-align: middle;
    width: 5%;
    
}

nav{
    border-left: 2px solid green;
    border-right: 2px solid green;
    display: flex;
    justify-content: end;
}

nav label{
    
    background-color: green;
    /* width and height of each label in the nav bar */
    width: 120px;
    height: 25px;

    display: flex;

    
    justify-content: center;
    margin-left: 2px;
    align-items: center;
    
    color: white;
}

body {
    font-family: 'PT Sans';
}
 

main{
    display:flex;
    flex-flow: row wrap;
    gap: 100px;
    

    /* bordes del main: */
    border-right: 2px solid green;
    border-left: 2px solid green;
}


button {
    border: 2px solid black(0, 255, 140, 0.48);
    background-color: rgba(0, 128, 0, 0.617);
    padding: 10px 20px;
    color: white;

}

.columna:nth-child(1){
margin: 10px;

}

.columna:nth-child(2){

height: 300px;


}

footer{
    border: 2px solid green;
    padding: 10px 20px 30px 0px;
    text-align: right;
}


